.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-width: fit-content;
    & > * {
        flex-grow: 1;
        flex-shrink: 0;
    }

    & > span {
        position: absolute;
        left: 0;
        top: -1.2em;
    }
}